html, body {
  font-family: 'Russo One', sans-serif;
  background-color: black;
  height: 100%;
  width: 100%;
    text-align: center;
}

.page-header {
  background-color: black;
  color: white;
  position: absolute;
  z-index: 1;
  height: auto;
  width: 100%;
  text-align: center;
}

ul {
  width: 500px;
    text-align: center;
}

.container-fluid {
  height: 100%;
    text-align: center;
}



.list-group-flush {
  color: #eaf2ff;
  text-shadow: 2px 2px black;
  text-align: center;
}

.list-group {
  margin-top: 35%;
  opacity: 1;
  transition-delay: 0.7s;
  transition-duration: 1s;
  text-align: center;
}


.row {
  text-align: center;
  height: 100%;
  background-repeat: no-repeat;
  background-size: cover;
}



.col-sm-12 {
  height: 100% !important;
  background-repeat: no-repeat;
  background-position: center;
  text-align: center;
}

.text-xs-center {
  text-align: center;
}
